@import "tailwindcss";

@font-face {
  font-family: "Imbue";
  src: url(./fonts/Imbue_14pt-Regular.ttf);
}

@font-face {
  font-family: "Figtree";
  src: url(./fonts/Figtree-Light.ttf);
}

@font-face {
  font-family: "Imbue Light";
  src: url(./fonts/Imbue_14pt-Light.ttf);
}

@theme {  
  --font-imbue: "Imbue", "serif";
}

@theme {  
  --font-imbue-light: "Imbue Light", "serif";
}

@theme {  
  --font-figtree: "Figtree", "sans-serif";
}

@theme {  
  --pop-shadow: 7px 7px 10px rgba(180, 180, 180, 0.50), -7px -7px 10px rgba(255, 255, 255, 0.9); 
  --gray-background: #fcfcfd;
  --inset-shadow: inset 4px 4px 10px rgba(180, 180, 180, 0.50), inset -4px -4px 10px rgba(255, 255, 255, 0.90); 
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
